<div class="row">
	<div class="large-12 columns">
		<h1>Lost in space<span style="color:blue">?</span></h1>
    Not anymore<span style="color:red">!</span> Find a lost teaching room or a building in the Otaniemi campus area right here<span style="color:yellow">”</span>
		<%= form_tag({controller: "spaces", action: "index"}, method: "get", id: 'searchbox', class: "nifty_form") do %>
      <form>
        <div class="row collapse">
          <div class="large-10 small-8 columns" id="spacesuggestions">
          	<%= text_field_tag :search, nil, class: "typeahead", type: "text", placeholder: "type a room or a building here" %>
          </div>
          <%= submit_tag "" %>
        </div>
      </form>
		<% end %>		
	</div>
</div>

<div id="map" class="row" class="large-12 columns"></div>

<div class="row">
  <div class="large-12 columns">
    <h1>What is Aalto Spaces<span style="color:blue">?</span></h1>
    Aalto Spaces is a tool for finding a teaching room or building in the Otaniemi campus area. You can use the service for finding an unknown room or building by its room name or code. For example, suppose you have a lecture in the room <i>Y202a</i> and you do not know what room it is or where it is located. By typing that room code above, you will note that it is A-hall in Otakaari 1.
    <br><br>
    The service was implemented by Miika Ruissalo and Anna Valaja on spring 2015 for the course <i>Design of WWW Services</i>.
    <br><br>
    If you want to view all spaces in the Otaniemi campus, <a href="https://wiki.aalto.fi/pages/viewpage.action?pageId=74573431">please visit here</a> for the original list of teaching rooms and buildings in Otaniemi. The page was also used as the basis for this service.
  </div>
</div>


<script>

// show pointer in map
$(document).ready(function(){
  var space = '<%= @space.to_json.html_safe %>';
  gmap_show(space); 
});

// for search suggestions, match parts of the searches
var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;
      matches = [];
      substrRegex = new RegExp(q, 'i');
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });
      cb(matches);
    };
};
 
// index for search suggestions
var spaces = ['Päärakennus', 'A-sali', 'Y202a', 'A0', 'A037', 'A1', 'A123', 'A125b', 'A125b', 'A2', 'A215', 'A304', 'A304', 'A308', 'A308', 'AAula', 'ala-aula', 'AP1', 'A122a', 'AP2', 'A235f', 'AP3', 'A309', 'AS0', 'A034', 'AS1', 'A124', 'AS2', 'A221', 'AS3', 'A307', 'ATK1', 'A046a', 'ATK2', 'A046b', 'B-sali', 'Y203a', 'C-sali', 'Y205', 'D-sali', 'Y122', 'E-sali', 'Y124', 'F-sali', 'U141', 'G-sali', 'U142', 'H-sali', 'U147', 'H304', 'Hallituksen istuntosali', 'H310', 'H4', 'J-sali', 'U149', 'K-sali', 'U154', 'K014', 'K014', 'K101', 'H1', 'K102', 'H2', 'K104', 'H3', 'KON', 'A222', 'L-sali', 'U270', 'M-sali', 'U157', 'M1', 'M232', 'M102', 'M102', 'M129', 'M129', 'M134', 'M134', 'M145b', 'M145b', 'M2', 'M233', 'M203', 'M203', 'M205', 'M205', 'M240', 'M240', 'M3', 'M234', 'M315', 'M315', 'M329', 'M329', 'M330', 'M330', 'M4', 'M220', 'M5', 'M140', 'MAP', 'A131a', 'MAula', 'mellin-aula', 'MS1', 'A128', 'N-sali', 'U271', 'Oppilaslabra', 'Y156', 'U130', 'U130', 'U131', 'U131', 'U261', 'U261', 'U262', 'U262', 'U264', 'U264', 'U322', 'U322', 'U325', 'U325', 'U344', 'U344', 'U345', 'U345', 'U352', 'U352', 'U353', 'U353', 'U356', 'U356', 'U358', 'U358', 'U401b', 'U401b', 'U402', 'U402', 'U405a', 'U405a', 'U405b', 'U405b', 'U406a', 'U406a', 'U409', 'U409', 'U410b', 'U410b', 'U413a', 'U413a', 'U414a', 'U414a', 'U414b', 'U414b', 'U502', 'U502', 'U503', 'U503', 'U510', 'U510', 'U511', 'U511', 'U513', 'Iso neukkari', 'U521', 'U521', 'Unelias', 'U351', 'VT1', 'VT1', 'VT2', 'VT2', 'Y195', 'Y195', 'Y197', 'Y197', 'Y198', 'Y198', 'Y199a', 'Y199a', 'Y199c', 'Y199c', 'Y225a', 'Paja', 'Y227', 'Y227', 'Y228a', 'Y228a', 'Y307', 'Y307', 'Y308a', 'H5', 'Y308b', 'Y308b', 'Y308c', 'Y308c', 'Y309a', 'Y309a', 'Y309b', 'Y309b', 'Y309c', 'Y309c', 'Y313', 'Y313', 'Y323', 'Y323', 'Y338c', 'Y338c', 'Y339a', 'Y339a', 'Y339b', 'Y339b', 'Y342a', 'Y342a', 'Y344', 'Y344', 'Y404', 'H6', 'Y405', 'Y405', 'Y421', 'Y421/minineukkari-itseopiskelu', 'Y423', 'Y423', 'Y427a', 'Y427a', 'Y427b', 'Y427b', 'Y429a', 'Y429a', 'Y429c', 'Y429c', 'Y430a', 'Y430a', 'Y430b', 'Y430b', 'YAula', 'ylä-aula', 'Rakennus- ja ympäristötekniikka', 'CADluokka', '267', '266', '266', '355', '355', '226b', '226b', 'K2', '165', 'R1', '160a', 'R2', '253', 'R3', '255', 'R4', '264a', 'R5', '265', 'R6', '351a', 'R7', '351b', 'R8', '352', 'R9', '309/ videoneuvottelu', 'Teknillinen fysiikka', 'Auditorio', 'F239a', 'F115', 'F115', 'F122', 'F122', 'F138', 'F138', 'F158', 'F158', 'F178a', 'F178a', 'F227', 'F227', 'F254', 'F254', 'F255', 'F255', 'F257', 'F257', 'F258', 'F258', 'F259', 'F259', 'F301b', 'F301b', 'F332', 'F332', 'F333', 'F333', 'F334', 'F334', 'F335', 'F335', 'F336', 'F336', 'F401', 'F401', 'Luentosali1', 'F175a', 'Luentosali2', 'F175b', 'Sähkö- ja tietoliikennetekniikka', 'E110', 'E110', 'E111', 'E111', 'E127', 'Kuunteluhuone', 'E220', 'Strömberg', 'B201b', 'B201b', 'C215', 'C215', 'C226', 'C226', 'D302', 'D302', 'F201', 'F201', 'F401', 'F401', 'F402', 'F402', 'G116a', 'G116a', 'G236', 'G236', 'G336', 'G336', 'H302', 'H302', 'H402', 'H402', 'I212DC', 'I212 Matalataajuuspuoli', 'I212RF', 'I212 Radiotaajuuspuoli', 'I256', 'I256', 'I346', 'I346', 'I407', 'I407', 'K203', 'Iso kaiuton huone', 'K204', 'Monikanavahuone', 'K205', 'Pieni kaiuton huone', 'L213', 'L213', 'L304', 'L304', 'L310', 'L310', 'L311a', 'L311a', 'L311b', 'L311b', 'S1', 'A102', 'S2', 'A101', 'S3', 'A205', 'S4', 'A202', 'S5', 'L306', 'Konetekniikka 4', 'VSauna', 'Virtauksen sauna', '172', '172', '339', '339', '354', '354', 'luentosali', '118', 'pikkupalaveri', '226', 'seminaari', '117a', 'Konetekniikka 2', '211a', '211a', '223', '223', 'Konetekniikka 1', '101', '101', '148', '148', '149', '149', '150', '150', '201', '201', '202', '202', '215', '215', '216', '216', '323', '323', '326', '326', '342', '342', '345', '345', '348', '348', '157b', '157b', '203b', '203b', '213a', '213a', '237c', '237c', '302b', '302b', '324b', '324b', '343b', '343b', 'CAEluokka', '344', 'Nano-talo', '161', '161', '204', '204', '227', '227', '228', '228', 'Kemian tekniikka', '1A303', 'A303', '1C229', 'C229', '1D422', 'D422', '1F505b', 'F505b', '1Ke5', 'D311', '1Luentosali1', 'A305', '1Luentosali2', 'A304', '1Luentosali3', 'A302', '1Luentosali4', 'C301', '1Luentosali6', 'D301a', '1luokka1', 'B016', '1luokka2', 'B017', '1luokka3', 'B018', 'Materiaalitekniikka', '2010', 'Oppimistilan neuvotteluhuone', '2011', '011', '223', 'ADP-tila (SmartBoard)', '226', 'APD (Dataprojektori)', '2109', 'Kanslian kokoushuone', '2144', '144', '2147', 'juhla-aula', '2160b', '160b', '2232', '232', '2242', '242', '2305a', 'sauna', '2B157', 'Kirjaston neuvotteluhuone', '2B212', 'Neuvotteluhuone 1', '2B213', 'Neuvotteluhuone 2', '2B380', 'B380', '2Kalliotekniikka', 'B205', '2KorroosioJaMVTsemina', 'B236', '2LuentosaliV2', '145', '2MateriaalitieteenSem', '225', '2MekProsSemina', 'B306', '2MetallurgianSemina', 'B329', '2V1', 'C100', '2V3', 'C101', 'Puunjalostustekniikka 1', '237', '237', 'Halko', 'Halko / 220', 'Kuitu', 'Kuitu / 225', 'L1', '241', 'L2', '240', 'Lastu', 'Lastu / 228', 'Pihka', 'Pihka / 322', 'Pulpperi', 'Pulpperi / 140', 'Puunjalostustekniikka 2', '218a', '218a', '121', '121', '122', '122', '123', '123', '128', 'Kanto', '129', 'Kaarna', '130', 'Käpy', '218b', '218b', 'Maarintalo', '203', '203', '204', '204', '205', '205', '206', '206', '207', '207', '211', '211', '212', '212', '214', '214', '215', '215', '216', '216', '218', '218', '219', '219', '220', '220', '221', '221', '222', '222', '224', '224', '226', '226', '227', '227', '229', '229', '245', '245', '255', '255', '258', '258', '260', '260', '262', '262', '264', '264', '266', '266', '268', '268', 'Maari-A', '167', 'Maari-B', 'Mikroluokka 5', 'Maari-C', 'Mikroluokka 3', 'Maari-D', '186', 'Maari-E', '172', 'Maari-F', '159', 'Maari-K', '243', 'Maari-L', '242', 'Maari-M', '278', 'Sähkötalo 1', 'ST1', '223', '203', 'Edison', '212', 'Maxwell', '231', '231', '271', '271', '326', '326', '329', '329', '330', '330', '331', '331', '341', '341', '379', '381', 'H1', '428', '428', '432', '432', '433', '433', 'Tietotekniikka', 'T-talo', 'A106', 'A106', 'A117', 'A117', 'A120', 'A120', 'A123', 'A123', 'A136', 'A136', 'A142', 'A142', 'A211', 'A211', 'A218', 'A218', 'A225', 'A225', 'A232', 'A232', 'A243', 'A243', 'A319', 'A319', 'A322', 'A322', 'A328', 'A328', 'A346', 'A346', 'B115', 'B115', 'B122', 'B122', 'B130', 'B130', 'B219', 'B219', 'B353', 'B353', 'B357', 'B357', 'C106', 'C106', 'C307', 'C307', 'T1', 'C202', 'T2', 'C105', 'T3', 'C206', 'T4', 'A238', 'T5', 'A133', 'TSauna', 'T-talon sauna', 'TUAS', 'AS1', '1018', '1135', '1135', '1141', '1141', '1142', '1142', '1143', '1143', '1144', '1144', '1592', '1592', '1593', '1593', '1594', '1594', '1595', '1595', '1596', 'ruokalan kabinetti', '2103', '2103', '2104', '2104', '2179', '2179', '3103', '3103', '3104', '3104', '3550', '3550', '3551', '3551', '4126', '4126', '1021-1022', '1021-1022', '1023-1024', '1023-1024', '1165-66', '1165-66', '1171-72', '1171-72', '1174-1176', '1174-1176', '1521-1522', '1521-1522', '2534-2535', '2534-2535', '37/1001', 'ala-aula', '37/2001', 'ylä-aula', 'AS2', '2006', 'AS3', '1621', 'Odeion', 'Odeion / 2007', 'TU1', '1017', 'TU2', '2005', 'TU3', '1194', 'TU4', '1195', 'TU5', '1199', 'TU6', '1200', 'TU7', '1201', 'TU8', '4125', 'TUAula', 'aula', 'TUSauna', 'TUAS-talon sauna'];
 
// search suggestions and automatic search when clicking one of the results
$('#spacesuggestions .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'spaces',
  source: substringMatcher(spaces)
}).on('typeahead:selected', function(e, data) {
  $(searchbox).submit();
  document.activeElement.blur();
  $(searchbox).blur();
});

// scroll screen down so that mobile users can see the search suggestions when typing
var position = $("#spacesuggestions").position().top + $("spacesuggestions").scrollTop();
$("#spacesuggestions").click(function() {
    $('html, body').animate({
        scrollTop: position
    }, 500);
});

</script>