<<<<<<< HEAD
<h1>Hello world! It wurks!</h1>

insert google maps here and work done
=======
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="asstyle.css">
</head>
<body>
	<header>
		<h1>Hello world! It wurks!</h1>
	</header>
	
	<footer>
		<h1>A dog.</h1>
	</footer>
</body>

</html>
>>>>>>> 22710e1d8ca644c5a141cc1c130e41660c4da0ca
