<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="asstyle.css">
</head>
<body>
	<header>
		<h1>Hello world! It wurks!</h1>
	</header>
	
	<footer>
		<h1>Kissa</h1>
	</footer>
</body>

</html>