<h1>
  <%= @building.name %>
</h1>
<p>
  lat:
  <%= @building.lat %>
</p>
<p>
  lng:
  <%= @building.lng %>
</p>

<div id="map" style="width: 800px; height: 600px;"></div>

<script>
  
  $(document).ready(function(){
    var building = '<%= @building.to_json.html_safe %>';
    gmap_show(building);    // init show map for building card (only print marker)
    console.log(buildin.lat);
  });

</script>
