<h1>
  <%= @building.name %>
</h1>
<p>
  lat:
  <%= @building.lat %>
</p>
<p>
  lng:
  <%= @building.lng %>
</p>
<!-- map div
-->
<div id="map-canvas" style="width: 550px; height: 350px;"></div>
<script>
  
  $(document).ready(function(){
    var building = #{@building.to_json}    // pass ruby variable to javascript
    gmap_show(building);    // init show map for building card (only print marker)
  });

</script>
